{% extends "movies/base.html" %}

{% block content %}

<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold text-[#e5b509]">
      Películas más recientes
    </h1>
  </div>

  <div id="artworks-container"
     class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    
    {% for movie in movies %}
    <div class="bg-[#1a1a1a] rounded-lg overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105">
      <img
        class="w-full h-[300px] sm:h-[320px] md:h-[340px] lg:h-[360px] object-cover"
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}"
        alt="{{movie.title}}" />
      
      <div class="p-4 text-center">
        <a href="/movies/{{movie.id}}"
           class="block text-[#e5b509] font-semibold text-sm sm:text-base hover:underline">
          {{movie.title|truncatechars:30}}
        </a>
        <span class="text-gray-400 text-xs sm:text-sm block mt-1">
          {{movie.release_date|date:"d/m/Y"}}
        </span>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if movies|length >= 4 %}
  <button class="flex w-48 mt-10 justify-center mx-auto rounded-md
        bg-[#e5b509] px-3 py-1.5 text-sm font-semibold leading-6 text-white
        shadow-sm hover:bg-[#cc9e08] focus-visible:outline
        focus-visible:outline-2 focus-visible:outline-offset-2 
        focus-visible:outline-[#e5b509]"
        hx-get="/movies/random" hx-target="#artworks-container" hx-swap="beforeend"
    >Más películas</button>
  {% endif %}
</div>

{% endblock content %}