{% load static %}

{% for review in movie.moviereview_set.all %} 

<article class="flex max-w-xl flex-col items-start justify-between pt-4 pb-6">
    <div class="flex items-center gap-x-4 text-xs">
        <span class="relative z-10 rounded-full 
        {% if review.rating < 60 %}
        bg-red-50 
        {% else %}
        bg-green-50
        {% endif %}
        px-3 py-1.5 
        font-semibold text-base text-gray-900 ">{{review.rating}}</span>
    </div>

    <div class="group relative">
        <h3 class="mt-2 text-lg font-semibold text-gray-100">
            <span class="text-indigo-400">{{ review.title }}</span>
        </h3>
        
        <p class="mt-1 line-clamp-3 text-sm text-gray-400 font-serif">
            "{{ review.review }}"
        </p>
    </div>

    <div class="relative mt-4 flex items-center gap-x-4">
        <a href="{% url 'perfil_usuario' review.user.username %}">
            <img src="{% static 'movies/knightley.jpg' %}" alt="" class="size-12 rounded-full bg-gray-50 hover:opacity-80 transition">
        </a>
        
        <div class="text-sm/6">
            <p class="font-semibold text-gray-100">
                <a href="{% url 'perfil_usuario' review.user.username %}" class="hover:text-sky-400 hover:underline">
                    {{ review.user.username }}
                </a>
            </p>
            <p class="text-gray-500 text-xs italic">Usuario desde: {{review.user.date_joined|date:"M Y"}}</p>
        </div>
    </div>
</article> 

{% empty %}

<div class="bg-white rounded-lg shadow-md p-8 text-center border border-gray-100">
  <p class="text-gray-600">No hay reseñas todavía</p>
  <p class="text-sm text-gray-500 mt-2">Sé el primero en comentar esta película</p>
</div>

{% endfor %}